body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to left, wheat 95%, white 5%);
  height: 100vh;
}
h1 {
  text-align: center;
  margin-top: 30px;
  color: rgba(18, 20, 19, 0.777);
  text-decoration: underline;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 60px 30px 60px 30px;
}
#1 {
  background-color: aqua;
  height: 650px;
  width: 700px;
  float: left;
  border: 5px solid rgb(190, 186, 186);
}
.same {
  background-color: rgb(60, 102, 102);
  height: 300px;
  width: 500px;
}
